
/* Global CSS */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right,  #9370db, #add8e6); /* Gradasi warna baru */
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
/* Navbar */
.navbar {
    background-color: #4caf50; /* Green */
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between; /* Mengatur ruang di antara elemen */
    align-items: center; /* Mengatur vertikal align */
}

.navbar i {
    font-size: 24px;
    margin-left: 10px;
    cursor: pointer; /* Mengubah kursor menjadi tangan saat dihover */
    transition: color 0.3s ease; /* Efek transisi saat hover */
}

.navbar i:hover {
    color: #333; /* Mengubah warna ikon saat dihover */
}
/* Header */
.header {
    background-color: #9370db, #add8e6, #ff69b4; /* header background color */
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: relative;
}
.header h1 {
    margin-bottom: 10px;
}
/* Header Icons */
.header-icons {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Menyesuaikan posisi ikon ke kanan */
}


.header-icons i {
    font-size: 20px;
    color: #fff;
    background-color: #000;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4); /* Added shadow for 3D effect */
    margin-left: 10px; /* Menyesuaikan jarak antar ikon */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Efek transisi saat hover */
}
.header-icons i:hover {
    background-color: #333; /* Change color on hover */
}
/* Footer */
/* Footer */
.footer {
    background-color: #9370db, #add8e6, #ff69b4; /* Sesuaikan dengan palet warna */
    color: #fff;
    padding: 10px 0; /* Mengurangi padding atas dan bawah */
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100;
}

@media only screen and (max-width: 768px) {
    /* Responsif footer */
    .footer {
        padding: 10px 20px; /* Mengurangi padding pada perangkat kecil */
    }
}

/* Search */
.search-container {
    text-align: center;
    margin-bottom: 20px;
    position: relative; /* Membuat posisi relatif untuk memungkinkan posisi absolut pada anak-anaknya */
}

.search-container input[type=text] {
    padding: 15px; /* Tambahkan padding yang lebih besar */
    margin-right: 10px;
    border-radius: 30px; /* Bulatkan sudut */
    border: none;
    width: 200px;
    transition: width 0.3s ease; /* Efek transisi saat lebar input berubah */
}

.search-container input[type=text]:focus {
    width: 250px; /* Lebar input saat fokus */
}

.search-container button {
    padding: 15px 30px; /* Tambahkan padding yang lebih besar */
    background-color: #b52482;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 30px; /* Bulatkan sudut */
    transition: background-color 0.3s ease; /* Efek transisi saat hover */
}

.search-container button:hover {
    background-color: #555;
}

#bookList.show-search .search-container {
    top: 20px; /* Menggeser ke atas */
    bottom: auto; /* Menghapus bottom */
}
/* Catalog */
.catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.book {
    width: calc(25% - 20px); /* 4 books per row with spacing */
    margin: 20px;
    background-color: #fff; /* Book background color */
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4); /* Added shadow for 3D effect */
    border-radius: 10px; /* Rounded corners for a smoother look */
    text-align: center; /* Center-align the content */
}

.book img {
    max-width: 100%;
    max-height: 200px; /* Max height of book cover */
    height: auto;
    margin-bottom: 10px;
}

.book h3 {
    color: #000; /* Set text color to black */
}

.book-quantity {
    color: #000; /* Set text color to black */
}

.book button {
    margin-top: 10px; /* Adjust spacing between the content and button */
    padding: 8px 16px; /* Padding for the button */
    border-radius: 20px; /* Rounded button */
    background-color: #ffcc00; /* Button background color */
    color: white; /* Button text color */
    border: none; /* Remove button border */
    cursor: pointer; /* Change cursor to pointer on hover */
}

.book button:hover {
    background-color: #ff9900; /* Change button background color on hover */
}

.book-details {
    color: #000; /* Set text color to black */
    text-align: center; /* Center-align the details */
}

.book-details h3 {
    margin-top: 10px; /* Adjust spacing from the image */
}

.book-quantity {
    margin-top: 10px; /* Adjust spacing from the title */
}

.logout-btn {
    padding: 10px 20px;
    background-color: #b52482;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-right: 10px; /* Tambahkan margin kanan untuk memberi ruang antara ikon dan tombol logout */
}
.logout-btn:hover {
    background-color: #ff007f; /* Ubah warna latar belakang saat hover */
    color: #fff; /* Ubah warna teks saat hover */
}
/* CSS untuk kartu Type */
.type-card {
    width: calc(20% - 20px); /* Lebar kartu 50% minus margin */
    margin: 10px; /* Spasi antar kartu */
    background-color: #fff; /* Warna latar belakang kartu */
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4); /* Efek bayangan untuk tampilan 3D */
    border-radius: 10px; /* Sudut melengkung untuk tampilan lebih lembut */
    text-align: center; /* Posisi konten di tengah */
    display: inline-block; /* Membuat kartu type menjadi kotak */
    vertical-align: top; /* Mengatur vertikal ke atas */
}

.type-card h3 {
    color: #000; /* Warna teks judul */
}

.type-card p {
    color: #333; /* Warna teks konten */
}

.type-card button {
    margin-top: 10px; /* Spasi antara konten dan tombol */
    padding: 8px 16px; /* Padding untuk tombol */
    border-radius: 20px; /* Sudut melengkung untuk tombol */
    background-color: #ffcc00; /* Warna latar belakang tombol */
    color: white; /* Warna teks tombol */
    border: none; /* Menghapus garis pinggir tombol */
    cursor: pointer; /* Mengubah kursor menjadi tangan saat dihover */
    transition: background-color 0.3s ease; /* Efek transisi saat hover */
}

.type-card button:hover {
    background-color: #ff9900; /* Warna latar belakang tombol saat dihover */
}

/* Media queries untuk responsif */
@media only screen and (max-width: 768px) {
    .type-card {
        width: calc(100% - 20px); /* Lebar kartu 100% minus margin */
    }
}

.type-card {
    background-color: rgba(233, 229, 229, 0.549);
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 5px;
    cursor: pointer;
}

.type-card:hover {
    background-color: #e0e0e0;
}

.type-icon {
    display: flex;
    align-items: center;
}

.bottom-wrap {
    display: flex;
    justify-content: space-between;
}
