.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(45deg, #9370db, #add8e6); /* Gradient dari ungu ke biru muda */
}

.box {
    display: flex;
    flex-direction: row; /* Menetapkan arah flex ke horizontal */
    align-items: center; /* Pusatkan vertikal */
    width: 800px; /* Lebar total kotak */
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08); /* Tambahkan bayangan yang lebih menarik */
    border-radius: 20px; /* Tambahkan border-radius untuk membuat kotak */
    background-color: #f5f5f5; /* Warna latar belakang abu-abu muda */
}

.image-container {
    width: 40%; /* Lebar gambar (40% dari lebar kotak) */
    padding: 20px;
    background-color: #fff; /* Warna latar belakang gambar putih */
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08); /* Tambahkan bayangan pada gambar */
}

.image-container img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.card {
    width: 60%; /* Lebar card (60% dari lebar kotak) */
    background-color: #fff; /* Warna latar belakang card putih */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08); /* Tambahkan bayangan pada card */
    border-radius: 20px;
    margin-left: 20px; /* Jarak antara gambar dan card */
}

.info-wrap {
    padding: 20px;
    font-size: 18px;
}

.btn {
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
}

.btn-primary {
    color: #fff;
    background-color: #9370db;
    border-color: #9370db;
}

.btn-warning {
    color: #fff;
    background-color: #ffa500;
    border-color: #ffa500;
    border-radius: 30px;
    padding: 8px 16px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

.btn-warning:hover {
    background-color: #ff8c00;
    border-color: #ff8c00;
}
