body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #6a11cb, #005bea, #00c6fb);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

h1 {
    text-align: center;
    color: #000;
    margin-bottom: 20px; /* Spasi antara judul dan form */
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form label {
    margin-bottom: 5px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-form button[type="submit"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #6a11cb;
    color: #fff;
    cursor: pointer;
}

.login-form button[type="submit"]:hover {
    background-color: #4b0082;
}

.error-msg {
    color: red;
    margin-top: 10px;
}
