body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #9370db, #add8e6);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; /* Menjaga tinggi kontainer */
}

.profile-box {
    width: 400px; /* Menjaga lebar kotak profil */
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.profile-header {
    text-align: center;
    margin-bottom: 20px;
}

.profile-header h2 {
    margin: 0;
    padding: 0;
}

.profile-body {
    display: flex;
    align-items: center;
}

.profile-picture {
    flex: 0 0 auto;
    margin-right: 20px;
}

.profile-picture img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.profile-info {
    flex: 1 1 auto;
}

.profile-info h3 {
    margin-top: 0;
}

.profile-info p {
    margin: 5px 0;
}

.logout-btn {
    padding: 10px 20px;
    background-color: #b52482;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.logout-btn:hover {
    background-color: #ff007f;
    color: #fff;
}

.barcode {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 110%;
    opacity: 0;
    transition: all 0.5s ease;
}

#profile-picture:hover .barcode {
    left: 50%;
    opacity: 1;
}
